.handle {
    line-height: 3.75rem;
    background-color: #03163c;
}

.handle .logo {
    width: 12.5rem;
    height: 100%;
    display: block;
    float: left;
    background-color: #f63c42;
    position: relative;
}

.handle .title {
    display: block;
    float: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1.25rem;
    height: 100%;
    width: 15.25rem;
    background-repeat: no-repeat;
    background-position: left center;
}

.handle .corebtn {
    float: right;
    margin-right: 1.25rem;
}

.handle .el-button,
.handle .el-dropdown-link {
    color: #A1b6e6;
}