.handle {
    line-height: 50px;
}

.handle .logo {
    width: 200px;
    height: 100%;
    display: block;
    float: left;
}

.handle .title {
    display: block;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.handle .corebtn {
    float: right;
    margin-right: 20px;
}

.handle .el-button {
    color: #fff;
}