.handle {
    line-height: 3.75rem;
    background-color: #03163c;
}

.handle .logo {
    width: 12.5rem;
    height: 100%;
    display: block;
    float: left;
    background-color: #f63c42;
    position: relative;
}

.handle .title {
    display: block;
    float: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 20px;
}

.handle .corebtn {
    float: right;
    margin-right: 20px;
}

.handle .el-button {
    color: #A1b6e6;
}